<style>
    h1,form{
        text-align:center;
    }
    h1{
        padding-top:20px;
        padding-bottom:20px;
    }

    p{
        text-align:center;
        padding-bottom:10px;
    }
    input{
        width:520px
    }
    div{
        padding-top:10px;
        text-align:center;
    }
</style>
<body>
    <h1>Wikipedia Search</h1>
    <form method="post">
    {% csrf_token %}
    {% if error %}
      <p> Wrong Input!!</p>
    {% endif %}

    <input type="text" name="search">
    <button type="submit">Search</button>
    </form>
    
    {% if res %}
    <div>{{res}}</div>
    {% endif %}
</body>